In [ ]:
# !pip install pycaret

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./Apart_Deal.csv')
df.columns = ['code', 'dong', 'date', 'apart_name','region_num', 'square', 'floor', 'blit_year', 'cost']

df.drop(['dong','apart_name','region_num'],axis=1, inplace=True)

space = df[df['floor']==' '].index
df.drop(space, inplace=True)

df['floor'] = df['floor'].astype('int')

/home/ubuntu/anaconda3/envs/multi/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4315702 entries, 0 to 4315702
Data columns (total 6 columns):
 #   Column     Dtype
---  ------     -----
 0   code       int64
 1   date       object
 2   square     float64
 3   floor      int64
 4   blit_year  int64
 5   cost       int64
dtypes: float64(1), int64(4), object(1)
memory usage: 230.5+ MB

In [4]:
from pycaret.regression import *
exp1 = setup(df, target = 'cost', ignore_features = ['date'])  # ,ignore_features=['Station code']

In [ ]:
compare_models()

IntProgress(value=0, description='Processing: ', max=89)

Initiated  . . . . . . . . . . . . . . . . . .                 14:32:58
Status     . . . . . . . . . . . . . . . . . .         Fitting 10 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Random Forest Regressor