In [ ]:
###!pip install camelot

In [ ]:
!dir

In [1]:
import camelot

In [2]:
tables=camelot.read_pdf('example.pdf',pages = '1,2,3') # ,pages = '2' // = '1,2,3'

In [4]:
num_tables = tables

In [5]:
num_tables

In [7]:
df1 = tables[0].df

In [9]:
df1

,0,1,2,3
0,Powertrain system,IC,Parallel,Power \nsplit
1,displacement (cc),"2,359","2,359","2,362"
2,Weight (kg),"1,530","1,680","1,670"
3,Engine power (kW),150,117,110
4,Battery output power (kW),-,34,30
5,Battey capacity (Wh),-,"1,431","1,591"
6,Transmission system,Transmission \n6 speed,Transmission \n6 speed,ECVT
7,Motor power (kW),-,35,105
8,Total system power (kW),150,150,140

In [8]:
df1.iloc[:,0]

0            Powertrain system
1            displacement (cc)
2                  Weight (kg)
3            Engine power (kW)
4    Battery output power (kW)
5         Battey capacity (Wh)
6          Transmission system
7             Motor power (kW)
8      Total system power (kW)
Name: 0, dtype: object