# 실습 - 임의의 데이터셋 가져와서 해보기

In [3]:
# statistical imputation transform for the horse colic dataset
# 결측지 제거

#  데이터셋 설명

from numpy import isnan
from pandas import read_csv
from sklearn.impute import SimpleImputer

In [10]:
# load dataset
csv_data = 'train.csv'

In [11]:
dataframe = read_csv(csv_data, header=None, na_values='?')

In [12]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122401 entries, 0 to 122400
Data columns (total 10 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       122401 non-null  object
 1   1       122401 non-null  object
 2   2       122401 non-null  object
 3   3       122401 non-null  object
 4   4       122401 non-null  object
 5   5       122401 non-null  object
 6   6       122401 non-null  object
 7   7       122401 non-null  object
 8   8       122401 non-null  object
 9   9       122401 non-null  object
dtypes: object(10)
memory usage: 9.3+ MB

In [13]:
dataframe.describe()

,0,1,2,3,4,5,6,7,8,9
count,122401,122401,122401,122401,122401,122401.0,122401,122401,122401.0,122401
unique,62,2041,66006,463,269,174.0,522,23,5.0,5
top,29,2020-07-17 18,1039.716,21.6,1.1,97.0,0.0,0.0,1.0,0.0
freq,2040,60,16,875,2248,3466.0,55576,45424,42585.0,39015

In [14]:
dataframe.isnull().sum() # 컬럼별 총 결측치 확인

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
dtype: int64

In [16]:
dataframe.values

array([['num', 'date_time', '���»�뷮(kWh)', ..., '����(hr)',
        '������ù漳��\ueff5', '�¾籤����'],
       ['1', '2020-06-01 00', '8179.056', ..., '0.0', '0.0', '0.0'],
       ['1', '2020-06-01 01', '8135.64', ..., '0.0', '0.0', '0.0'],
       ...,
       [60, '2020-08-24 21', 3572.208, ..., 0.0, 1.0, 1.0],
       [60, '2020-08-24 22', 3299.184, ..., 0.0, 1.0, 1.0],
       [60, '2020-08-24 23', 3204.576, ..., 0.0, 1.0, 1.0]], dtype=object)

In [17]:
dataframe.shape

(122401, 10)

In [15]:
# split into input and output elements
data = dataframe.values
ix = [i for i in range(data.shape[1]) if i != 23]
X, y = data[:, ix], data[:, 23]

IndexError: index 23 is out of bounds for axis 1 with size 10

In [8]:
# print total missing
print('Missing: %d' % sum(isnan(X).flatten()))

Missing: 1605

In [18]:
# define imputer # 결측치 처리 (평균값 = 기본값, 최빈값 = most frequent, 중앙값 = median)
imputer = SimpleImputer(strategy='most_frequent')

In [19]:
# fit on the dataset
imputer.fit(X)

SimpleImputer(strategy='most_frequent')

In [20]:
# transform the dataset
Xtrans = imputer.transform(X)

In [21]:
# print total missing
print('Missing: %d' % sum(isnan(Xtrans).flatten()))

Missing: 0

In [22]:
Xtrans[0,:] # 첫번째 행 가져오기

array([2.00000e+00, 1.00000e+00, 5.30101e+05, 3.85000e+01, 6.60000e+01,
       2.80000e+01, 3.00000e+00, 3.00000e+00, 1.00000e+00, 2.00000e+00,
       5.00000e+00, 4.00000e+00, 4.00000e+00, 2.00000e+00, 1.00000e+00,
       2.00000e+00, 3.00000e+00, 5.00000e+00, 4.50000e+01, 8.40000e+00,
       2.00000e+00, 2.00000e+00, 2.00000e+00, 1.13000e+04, 0.00000e+00,
       0.00000e+00, 2.00000e+00])